<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <img
        src="My Foto.jpg"
        alt="Kanzun"
        class="img-tumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Kanzun Bairuha</h1>
      <p class="lead">Lecture and Student</p>
    </div>
  </div>
</div>
